<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">35+ Years of Collecting and "Picking"</h2>
                <p class="text-white-50">
                    Fred has amassed a collection that, at one point, filled multiple warehouses from his career in
                    construction.
                </p>
            </div>
        </div>

        <br />
        <img class="img-fluid" src="assets/grayscale/img/awm_labor day031-EDIT.jpg" alt="Fred at a party" />
        <br />
        <img class="img-fluid" src="assets/grayscale/img/fred-and-bill-struever2.png"
            alt="Fred and Bill Struever in the '70s" />
        <p class="text-white-50">
            Fred with his brother and original business partner, Bill Struever, in the 1970s.
        </p>
        <br />
        <img class="img-fluid" src="assets/grayscale/img/original-struever-brothers-eccles-van.png"
            alt="The original Struever brothers company truck" />
        <p class="text-white-50">
            The original Struever Brothers truck at one of their first job sites in Baltimore.
        </p>

        <img class="img-fluid" src="assets/grayscale/img/IMG_3091-EDIT.jpg"
            alt="Fred and Bill at a party at Frederick's of Baltimore in 2024" />

    </div>
</section>