<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">35+ Years of Collecting and "Picking"</h2>
                <p class="text-white-50">
                    Fred has amassed a collection that, at one point, filled multiple warehouses from his career in
                    construction.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="assets/grayscale/img/fred-and-bill-struever.png"
            alt="Fred and Bill Struever in the '70s" />
        <img class="img-fluid" src="assets/grayscale/img/awm_labor day031-EDIT.jpg" alt="Fred at a party" />
    </div>
</section>