<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">35+ Years of Collecting and &quot;Picking&quot;</h2>
                <p class="text-white-50 custom-paragraph">
                    Fred has amassed a collection that, at one point, filled multiple warehouses from his career in
                    construction.
                </p>
                <p class="text-white-50 custom-paragraph">
                    Fred grew his collection being a partner at Struever Brothers.
                    <br />
                    Struever Brothers Eccles &amp; Rouse was a development company founded in 1974 by Bill Struever,
                    alongside his brother Fred, college roommate Cobber Eccles, and Ted Rouse (son of renowned developer
                    James Rouse), primarily focused on revitalizing urban areas, particularly in Baltimore, Maryland, by
                    repurposing old industrial buildings and brownfield sites into mixed-use developments; known for
                    their significant contributions to community revitalization through large-scale urban redevelopment
                    projects, often utilizing historic preservation and sustainable practices.
                </p>
                <p class="text-white-50 custom-paragraph">
                    Fred&rsquo;s role evolved from construction management to be the &lsquo;picker&rsquo; for job sites;
                    going in and
                    tagging goods and materials that were worth saving and often reincorporating into the new
                    development. With a saying that &lsquo;two of anything is a collection,&rsquo; the amount quickly
                    grew and at
                    one point filled warehouses. Now, the remaining items live at Frederick&rsquo;s of Baltimore with
                    almost
                    all still available for sale or re-use into new artwork.
                    <br />

                    While SBE&amp;R sadly did not survive the 2008 Financial Crisis, aspects of the company live on with
                    Bill and Cobber at <a href="https://crossstpartners.com/" target="_blank">Cross Street Partners</a>.
                </p>
            </div>
        </div>

        <br />
        <img class="img-fluid" src="assets/grayscale/img/awm_labor day031-EDIT.jpg" alt="Fred at a party" />
        <br />
        <img class="img-fluid" src="assets/grayscale/img/fred-and-bill-struever2.png"
            alt="Fred and Bill Struever in the '70s" />
        <p class="text-white-50">
            Fred with his brother and original business partner, Bill Struever, in the 1970s.
        </p>
        <br />
        <img class="img-fluid" src="assets/grayscale/img/original-struever-brothers-eccles-van.png"
            alt="The original Struever brothers company truck" />
        <p class="text-white-50">
            The original Struever Brothers truck at one of their first job sites in Baltimore.
        </p>

        <img class="img-fluid" src="assets/grayscale/img/IMG_3091-EDIT.jpg"
            alt="Fred and Bill at a party at Frederick's of Baltimore in 2024" />
        <p class="text-white-50">
            Fred and Bill at a party at Frederick's of Baltimore in 2024
        </p>
    </div>
</section>