<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="">Frederick's of Baltimore</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/artifacts">Artifacts</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Artifacts and Salvage</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Reclaimed Industrial goods saved over a career in construction
                and
                rennovation.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="/products">View a Sample of Our Stock</a>
        </div>
    </div>
</header>

<router-outlet></router-outlet>


<!-- Signup-->
<!-- <section class="signup-section" id="signup">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to our newsletter!</h2>
          <form class="form-inline d-flex">
            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" disabled type="email"
              placeholder="Not set up yet..." />
            <button class="btn btn-primary mx-auto" disabled type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </section> -->
<!-- Contact-->
<section class="contact-section bg-black" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4" />
                        <a target="_blank" href="https://goo.gl/maps/vhokBpg5AddqrssW9">
                            <div class="small text-black-50">3500 Buena Vista Ave<br /> Baltimore, MD, 21211</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"><a
                                href="mailto:info@fredericks.studio?subject=Inquiry%20from%20website&body=Hi%2C%20I%20am%20interested%20in...">info@fredericks.studio</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"><a href="tel:+14434104432">+1 (443) 410-4432</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="social d-flex justify-content-center">
        <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
        <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
      </div> -->
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container">Copyright © Fred Struever
        <script>document.write(new Date().getFullYear())</script>

        <br /> Site by <a href="http://madmaxlax.com" target="_blank" title="Max Struever">Max Struever</a>
    </div>
</footer>