.header-logo {
    display: none;
  }
.navbar-shrink {
  .header-logo {
    display: block;

    width: 100px;
    margin-top: -10px;
  }
  @media (max-width: 500px) {
    .of-balt-header-text {
      display: none !important;
    }
  }
}
