<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div *ngIf="!products?.length || products.length===0" class="col-12 text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br />
                <br />
            </div>
            <div *ngFor="let product of products" class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card product-card">
                    <!-- Image Section -->
                    <img *ngIf="product?.attachments?.[0]?.previews?.[3]?.url"
                        [src]="product.attachments[0].previews[3].url" class="card-img-top img-fluid"
                        alt="{{product.name}}" />
                    <!-- Card Body -->
                    <div class="card-body text-center">
                        <h5 class="card-title text-white">{{product.name}}</h5>
                        <p class="card-text text-white-50">{{product.desc}}</p>

                        <!-- Tags/Categories Section -->
                        <div class="tags mt-3">
                            <span *ngFor="let label of product.labels" class="badge tag-badge">{{label.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>