<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <img src="../../assets/grayscale/img/fredericks-logo-white.png" class="img-fluid mx-auto d-block"
                alt="Fredericks Logo" style="margin-top: -50px;">
            <h1 class="mx-auto my-0 text-uppercase">Artifacts and Architectural Salvage</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Reclaimed industrial goods collected over a career in
                construction
                and
                renovation.</h2>
            <a class="btn btn-primary js-scroll-trigger" [routerLink]="['/products']">View a Sample of Our Stock</a>
        </div>
    </div>
</header>